<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/alertify.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/public/client.js"></script>
    <script src="/public/alertify.js"></script>
</head>
<body>
    <header>
        <div id="navigation">
            <h1>Klassy</h1>
            <a href="/">Hem</a>
            <a href="/teacher">{{userGroup}}</a>
            <div id="user">
                <div id="name-container">
                    <h1>{{user.name}}</h1>
                    <h2>{{user.class}}</h2>
                </div>
                <img src="/resources/profile.jpg">
                <a href="/logout">Logout</a>
            </div>
            
            
        </div>
    </header>
    <br>
    <div id="mid">
        {{{body}}}
    </div>
</body>
</html>